:root {
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);
	--grey: hsl(0, 0%, 85%);

	--red: hsla(359, 94%, 62%, 1);
	--orange: hsla(21, 89%, 56%, 1);
	--yellow: hsla(33, 94%, 55%, 1);
	--green: hsla(162, 43%, 46%, 1);
	--blue: hsla(208, 25%, 45%, 1);
}
