@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-size: 0.938rem;
  line-height: 1.6;
}

/* Remove text-decoration from a */
a {
    text-decoration: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// Styling

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}

:root {
  --title-font: 'Big Shoulders Display', cursive;
  --body-font: 'Lexend Deca', sans-serif;
  --bright-orange: hsl(31, 77%, 52%);
  --cyan: hsl(184, 100%, 22%);
  --dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --light-gray: hsl(0, 0%, 95%);
}

.card-container {
  position: relative;
  margin: 2em auto;
  border-radius: 10px;
  overflow: hidden;
  width: 90%;
  max-width: 1200px;
}

.card {
  padding: 2em;
}

.bg-yellow {
  background: var(--bright-orange);
}

.bg-cyan {
  background: var(--cyan);
}

.bg-dark-cyan {
  background: var(--dark-cyan);
}

.card-title {
  color: var(--light-gray);
  font-family: var(--title-font);
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-top: 0.5em;
}

.card-description {
  color: var(--transparent-white);
  font-family: var(--body-font);
  margin: 1em auto;
}

.card-button {
  font-family: var(--body-font);
  color: var(--light-gray);
  background: white;
  border:none;
  padding: 0.9em 2.6em;
  border: 2px solid white;
  border-radius: 100px;
  margin: 1em auto;
  cursor: pointer;
}

.text-yellow {
  color: var(--bright-orange);
}

.text-cyan {
  color: var(--cyan);
}

.text-dark-cyan {
  color: var(--dark-cyan);
}

.card-link {
  color: inherit;
}

.card-button:hover {
  background: transparent;
  border: 2px solid white;
  color: white;
}

@media (min-width: 768px) {
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.attribution {
  font-family: var(--body-font);
  width:100%;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
