@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Lexend+Deca&display=swap");

*,
*::after,
*::before {
    margin: 0;
}

body {
    font-family: "Lexend Deca", sans-serif;
    background: hsl(233, 47%, 7%);
    line-height: 1.6;
}

img {
    max-width: 100%;
}

.card {
    position: relative;
    width: 90%;
    max-width: 1200px;
    margin: 4em auto;
    background: hsl(244, 38%, 16%);
    border-radius: 15px;
    .mobile-image-container {
        position: relative;
        display: inline-block;
        .image {
            border-radius: 15px 15px 0 0;
        }
    }
    .stats {
        color: white;
        text-align: center;
        padding: 1em 1em;
        h2 {
            font-family: "Inter", sans-serif;
            font-size: 2rem;
            .purple {
                color: hsl(277, 64%, 61%);
            }
        }
        .description {
            margin: 1em 0;
            color: hsla(0, 0%, 100%, 0.75);
        }
        .numbers {
            margin-bottom: 1em;
            .number {
                font-weight: 700;
                font-size: 1.5rem;
            }
            .number-category {
                text-transform: uppercase;
                color: hsla(0, 0%, 100%, 0.6);
            }
        }
    }
    .desktop-image-container {
        display: none;
    }
}

@media (min-width: 600px) {
    body {
        height: 100vh;
    }
    .card {
        position: relative;
        top: 10%;
        padding: 0;
        display: grid;
        grid-template-columns: 55% 45%;
        .mobile-image-container {
            display: none;
        }
        .stats {
            text-align: start;
            padding: 4em;
            .number-container {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
        .desktop-image-container {
            display: block;
            .image {
                width: 100%;
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 0 15px 15px 0;
            }
        }
    }
}
